{% extends 'baseBack.html.twig' %}

{% block title %}Liste des modules{% endblock %}

{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Enseigant</th>
                <th>Duree</th>
                <th>Coefficient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.id }}</td>
                <td>{{ module.nom }}</td>
                <td>{{ module.Enseigant }}</td>
                <td>{{ module.Duree }}</td>
                <td>{{ module.Coefficient }}</td>
                <td>
                    <a href="{{ path('app_module_edit', {'id': module.id}) }}">Metre a jour</a>
                     || <a href="{{ path('module_cours', {'id': module.id}) }}" >
                        Voir les Cours relative
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Encore pas de module ajouter</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a class="btn btn-success" href="{{ path('app_module_new') }}">Ajouter nouveau</a>
{% endblock %}
