{% extends 'base.html.twig' %}

{% block title %}Créer un cours{% endblock %}

{% block body %}
    <h1>Créer un nouveau cours</h1>

    {{ form_start(form) }}
        {{ form_row(form.code_cours) }}
        {{ form_row(form.Titre) }}
        {{ form_row(form.Niveau) }}
        {{ form_row(form.Categorie) }}
        {{ form_row(form.save) }}
    {{ form_end(form) }}
{% endblock %}
